<header class="navbar bg-primary text-primary-content shadow-lg">
  <div class="flex-1">
    <a routerLink="/" class="btn btn-ghost text-xl">Product Catalog</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div #dropdownButton tabindex="0" role="button" class="btn btn-ghost btn-circle indicator">
        <span class="indicator-item badge badge-secondary" *ngIf="cartService.getTotalItems() > 0">
          {{ cartService.getTotalItems() }}
        </span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2 8m10 0l2-8m-10 8v8m10-8v8M9 21h6" />
        </svg>
      </div>
      <div tabindex="0" class="dropdown-content card card-compact w-52 bg-base-100 text-base-content shadow">
        <div class="card-body">
          <span class="font-bold text-lg">{{ cartService.getTotalItems() }} Items</span>
          <span class="text-info">Subtotal: ${{ cartService.getTotalPrice().toFixed(2) }}</span>
          <div class="card-actions">
            <button routerLink="/cart" (click)="closeDropdown()" class="btn btn-primary btn-block">View cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
